header {
    border: 2px solid darkgreen;
    text-align: center;
}

header>h1 {
    border: 1px solid blue;
}
/* La primera lletra de cada titol, mes gran*/
h2::first-letter{
font-size: 40px;
}

header>p {
    border: 1px solid blue;
}

article {
    border: 1px solid red;
}

article>h1 {
    color: blue;
}

/* Element pare de  calendar, house, info*/
section {
    border: 1px solid blue;
    margin: 10px;
    /* Aplica el flex als fills */
    display: flex;
    /* Obliga al fill estar dins */
    flex-wrap: wrap;
    /* Els fills agafan tot l'espai*/
    /* justify-content: space-between*/
    justify-content: center
}

section>article {
    text-align: center;
    max-width: 25%;
    min-width: 120px;
    flex: 30%;
}

#image-thumb>img {
    width: 100%;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    /* Obliga al fill a estar sobre */
    flex-wrap: wrap;

}


ul{
    list-style-type: none;
        padding: 0;
}
li{
    text-align: center;
    border: 2px solid grey;
    padding: 5px;
    margin: 10px;
    min-width: 40px;
}
#content-1 {
    flex: 10%;
}

#content-2 {
    flex: 90%;
}

aside>li {
    padding: 10px;

}

.card {
    margin: 10px;
    border: 2px solid pink;
    padding: 10px;
}

aside {
    border: 2px solid greenyellow;

}

footer {
    background-color: lightgray;
    padding: 15px;
    text-align: end;
}

strong{
    font-weight: bold;
}